html, body {
    background: #ddd url('../images/background.gif') repeat;
    font-family: 'Bad Script', cursive;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #000;
    margin-bottom: 100px;

}

.text-muted {
    font-size: 2.5em;
    margin: 0;
    padding: .5em;
    color: #fff;
    text-align: center;
}

#container {
    width: 1000px;
    margin: auto;
    height: auto;
    margin: auto;
}

#slider {
    width: 720px;
    height: 400px;
    margin: auto;
    overflow: hidden;
    box-shadow: 10px 10px 7px;
}

#slider .slides {
    display: block;
    width: 4500px;
    height: 400px;
    float: left;
    clear: left;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

.arrow-left, .arrow-right {
    width: 10%;
}

.arrow-left {
    width: 80px;
    margin-right: -50px;
    padding-top: 160px;
    hight: 400px;
    float: left;
}

.arrow-right {
    width: 80px;
    padding-top: 160px;
    margin-left: -50px;
    hight: 400px;
    float: right;
}










